{% extends 'base.html.twig' %}

{% block title %}New Spending{% endblock %}

{% block body %}
    <h1>Create new Spending</h1>

    {{ include('spending/_form.html.twig') }}

    <a href="{{ path('spending_index') }}">back to list</a>
{% endblock %}
